@use '/src/styles/variable';

.boardName {
    max-width: calc(100vw - variable.$board-btn-width - 0.5rem);
    display: flex;
    align-items: center;
    height: 3.2rem;
    color: variable.$text-color;
    font-weight: bold;
    line-height: 3.2rem;
    cursor: pointer;
    
    .nameDisplay {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 1rem;
        font-size: 1.8rem;
        
        &:hover {
            background-color: variable.$hover-color;
            border-radius: 0.3rem;
        }
    }

    .nameInputWrapper {
        .nameInput {
            max-width: calc(100vw - 3rem - 13.5rem);
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
            border: none;
            font-family: 'roboto', sans-serif;
            font-weight: bold;
            font-size: 1.8rem;
    
            &:focus {
                outline: 2px solid variable.$border-color;
                border-radius: none;
                border: none;
            }
        }
    }

    .nameDisplay, .nameInputWrapper {
        display: none ;
        height: 100%;
        max-width: calc(100vw - 116px);
    }

    .active {
        display: block;
    }
}