@use '/src/styles/variable' as *;

.card {
    width: 100%;
    height: $card-height;
    background-color: #fff;
    color: $column-text-color;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    box-shadow: 0 1.5px 1px #ccc;
    border-radius: 0.3rem;
    user-select: none;
    padding: 0 1rem;
    line-height: 3.2rem;;

    &:hover {
        cursor: grab;
        background-color: #f6f4f4;
    }
    &:active {
        cursor: grabbing;
    }
}