@use '/src/styles/variable' as *;

.add-card, .add-column {
    background-color: $column-color;
    .add-button {
        background-color: #0079bf;
        color: $text-color;
        border: none;
        border-radius: 0.3rem;
        padding: 0.8rem;
        font-size: 1.4rem;
        margin-right: 1rem;

        &:hover {
            background-color: #0169a4;
            cursor: pointer;
        }
    }

    .close {
        color: #959595;
        border: none;
        height: 3rem;
        width: 2.8rem;
        transform: translateY(3px);
        background-color: transparent;

        svg {
            font-size: 2rem;
        }

        &:hover {
            color: #626262;
            cursor: pointer;
        }
        
    }

    &.hidden {
        transform-origin: center top;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.25s ease, opacity 0.25s ease;
    }
}


.add-card {
    width: 100%;
    padding-bottom: 1rem;
    
    .card-input {
        font-family: 'roboto', sans-serif;
        color: $column-text-color;
        font-size: 1.4rem;
        width: 100%;
        resize: none;
        border: none;
        border-radius: 0.3rem;
        padding: 0.5rem;
        outline: none;
    }
}

.add-column {
    width: $column-width;
    padding: 0.5rem;
    border-radius: 0.2rem;
    animation: fadeUp 0.1s ease;

    input {
        width: 100%;
        display: block;
        border: 2px solid #fff;
        outline: none;
        padding: 0.8rem;
        font-size: 1.4rem;
        border: 2px solid $border-color;
        border-radius: 0.3rem;
        margin-bottom: .5rem;
        color: #626262;
    }
}

@keyframes fadeUp {
    from {
        transform: scaleY(0);
        transform-origin: center top;
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        transform-origin: center top;
        opacity: 1;
    }
}