@use '/src/styles/variable';

.boardNav {
    background-color: variable.$board-color;
    height: variable.$board-nav-height;
    width: auto;
    padding: 1rem;
    display: flex;
    
    .dropdown {
        font-size: 1.5rem;

        &:hover {
            background-color: variable.$hover-color;
        }

        .iconSpinner {
            width: 17px;
            margin-right: 0.4rem;
            img {
                width: 100%;
            }
        }

        .iconWrapper {
            padding-left: 0.6rem;
        }
        
        .icon {
            font-size: 1.2rem;
        }
    }
}
