@use '/src/styles/variable' as *;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

  
html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 1.6rem;
}

.smooth-dnd-container.horizontal {
    display: flex;
    height: 100%;
}

.smooth-dnd-container.horizontal > .smooth-dnd-draggable-wrapper {
    display: block;
}


.btn {
    margin: 0 1rem;
    border: none;
    padding: 1rem;
    background-color: $white-color;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $text-color;
    
    &:hover {
        background-color: $hover-color;
    }
}
