body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: roboto-bold;
    src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: roboto-regular;
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-italic;
    src: url('/src/assets/fonts/Roboto/Roboto-Italic.ttf');
}
  
html {
    font-family: roboto-regular, roboto-medium, roboto-bold, roboto-italic;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 1.6rem;
}
  