@use '/src/styles/variable' as *;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

  
html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 1.6rem;
}


.btn {
    margin: 0 1rem;
    border: none;
    padding: 1rem;
    background-color: $white-color;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $text-color;
    
    &:hover {
        background-color: $hover-color;
    }
}

// config smooth dnd
.smooth-dnd-container.horizontal {
    display: flex;
    height: 100%;
}


.smooth-dnd-container {
    min-height: 1px;
}

// style modal element
.popup-content {
    width: 35%;
    margin-top: 2rem !important;
    border-radius: 0.5rem;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

/* animation */

@keyframes anvil {
    0% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

@media screen and (max-width: 900px) {
    .popup-content {
        width: 45%;
    }
}